@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Coiny&family=Quicksand&display=swap');


@import "tailwindcss";

@theme {
    --font-Nunito: 'Nunito', sans-serif;
    --font-Coiny: "Coiny", system-ui;
    --font-Quicksand: "Quicksand", sans-serif;
}